<a href="https://colab.research.google.com/github/Omkar1123/Practice/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numbers = [5,2,5,2,2]
for i in numbers:
  output = ''
  for y in range(i):
    output += 'x'
  print(output)

xxxxx
xx
xxxxx
xx
xx

In [ ]:
numbers = [10,20,30,40,40]
ma = numbers[0]
for i in numbers:
  if ma<i:
    ma = i
print(ma)

40

In [ ]:
num = [2,2,4,6,4,8,9]
unum = []
for i in num:
  if i not in unum:
    unum.append(i)
print(unum)

[2, 4, 6, 8, 9]

In [ ]:
phone = input("phone: ")
dict = {
    "1": "One",
    "2": "Two",
    "3": "Three",
    "4": "Four",
}
output = ""
for i in phone:
  output += " "+dict.get(i,"!")
print(output)

phone: 2431
 Two Four Three One

In [ ]:
def square(number):
  value = number * number
  return value
square(5)

25

In [ ]:
def swapele(newList):
  size = len(newList)
  temp = newList[0]
  newList[0] = newList[size-1]
  newList[size-1] = temp
  return newList

newList = [1,2,3]
print(swapele(newList))

[3, 2, 1]

In [ ]:
def swapele(newList):
  newList[0],newList[-1] = newList[-1],newList[0]
  return newList

newList = [25,30,12,45,64]
print(swapele(newList))

[64, 30, 12, 45, 25]

In [ ]:
def swapele(list):
  first,*middle,last = list
  list = [last,*middle,first]
  return list


list = [1, 2, 3, 4]
print(swapele(list))

[4, 2, 3, 1]

In [ ]:
def isPal(s):
  return s==s[::-1]


s = "abccb"
ans = isPal(s)
if(ans):
  print("yes")
else:
  print("No")

No

In [ ]:
def iSPal(s):
  size = int(len(s))
  for i in range(0,size/2):
    if s[i] != s[size-i-1]:
      return False
    else:
      return True

s = "abcba"
ans = isPal(s)
if(ans):
  print("Yes")
else:
  print("No")

Yes

In [ ]:
def isPal(s):
  rev = "".join(reversed(s))
  if s==rev:
    return True

s = "abcba"
ans = isPal(s)
if(ans):
  print("Yes")
else:
  print("No")

Yes

In [ ]:
def isPal(s):
  l = len(s)

  if l<2:
    return True
  elif s[0] == s[l-1]:
    return isPal(s[1:l-1])
  else:
    return False

s = "abccb"
ans = isPal(s)

if(ans):
  print("Yes")
else:
  print("No")

No

In [6]:
def Merge(dict1, dict2):
    return(dict2.update(dict1))

dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}

print(Merge(dict1, dict2))

print(dict2)

None
{'d': 6, 'c': 4, 'a': 10, 'b': 8}

In [7]:
def Merge(dict1, dict2):
    res = {**dict1, **dict2}
    return res

dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}
dict3 = Merge(dict1, dict2)
print(dict3)

{'a': 10, 'b': 8, 'd': 6, 'c': 4}

In [9]:
def remove_duplicates(sentence):
    words = sentence.split(" ")
    result = []
    for word in words:
        if word not in result:
            result.append(word)
    return " ".join(result)

sentence = "good morning, good afternoon, good evening"
print(remove_duplicates(sentence))

good morning, afternoon, evening

In [3]:
A = [64, 25, 12, 22, 11]
for i in range(len(A)-1):
  min_i = i
  for j in range(i+1, len(A)):
    if A[min_i] > A[j]:
      min_i = j
  A[i], A[min_i] = A[min_i], A[i]

print ("Sorted array")
for i in range(len(A)):
    print(A[i],end=" ")

Sorted array
11 12 22 25 64